.appearance-column-boxes.appearance-boxes {

  .article-box {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
  }

  .article-box__header {
    padding-left: 0;
    padding-right: 0;
  }

  .box-wrapper {
    @include box;
    padding: $regular-spacing;
    margin: 0 0 $regular-spacing*1.5;
    overflow: visible;
    background: $white;
    @include media($tiny) {
      margin-top: 1.5rem;
    }
  }

  .fw-main-row:last-child .box-wrapper {
    margin-bottom: 0;
  }

  .fw-row {
    margin-left: -2rem;
    margin-right: -2rem;
  }

}

.appearance-boxes {
  .fw-row {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.appearance-flat {

  .article-box,
  .box-wrapper {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
  }

  .box-wrapper {
    margin: 0 0 $regular-spacing*1.5;
  }
  .fw-main-row:last-child .box-wrapper {
    margin-bottom: 0;
  }

  .article-box__header {
    padding-left: 0;
    padding-right: 0;
  }

  .article-box__content--excerpt,
  .article-box__tags {
    padding-left: 0;
    padding-right: 0;
  }

  .article-box__footer {
    border-bottom: 1px solid $ghost-black;
    border-right: 1px solid $ghost-black;
  }

}