.appearance-column-boxes.appearance-boxes {

  .article-box {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
  }

  .article-box__header {
    padding-left: 0;
    padding-right: 0;
  }

  .box-wrapper {
    @include box;
    padding: $regular-spacing;
    margin: 0 0 $regular-spacing*1.5;
    overflow: visible;
    background: $white;
    @include media($tiny) {
      padding: 0;
    }
  }

  .fw-main-row:last-child .box-wrapper {
    margin-bottom: 0;
  }

}

.appearance-column-boxes {
  .fw-row {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.appearance-flat {

  .article-box,
  .box-wrapper {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
  }

  .box-wrapper {
    margin: 0 0 $regular-spacing*1.5;
  }
  .fw-main-row:last-child .box-wrapper {
    margin-bottom: 0;
  }

  .article-box__header {
    padding-left: 0;
    padding-right: 0;
  }

}