.breadcrumbs-wrapper {
  background: $off-white;
  padding-top: $regular-spacing;
}

div.breadcrumbs {
  @include box;

  font-size: 0;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: visible;
    vertical-align: baseline;
    position: relative;
    padding: 0 $large-spacing 0 0;
    height: 2rem;
  }

  @include media($tiny) {
    padding: 0;
    height: auto;
  }

  .first-item a {
    position: relative;
    //padding-left: $small-spacing*2;
    //&:before {
    //  content: 'home';
    //  font-family: "Material Icons";
    //  line-height: 2rem;
    //  display: inline-block;
    //  margin-bottom: -5px;
    //  position: absolute;
    //  left: 0;
    //  top: 50%;
    //  speak: none;
    //  transform: translateY(-50%);
    //}
  }

  li, span {
    display: inline-block;
    height: 100%;
    line-height: 2rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


    @include font-size(xs);
    @include media($tiny) {
      &:not(.separator) {
        display: block;
        width: 100%;
        padding: 0 0.5rem;
        border-bottom: solid 1px $ghost-black;
      }
    }
    &:nth-child(1n+3):before {
      @include triangle($black, .25rem, right);
      border-left-color: $primary;
      position: relative;
      display: inline-block;
      content: '';
      border-left: 1px solid $ghost-black;
      vertical-align: top;
      height: 1.9rem;
      width: 1px;
      margin-left: $small-spacing;
      margin-right: $small-spacing;
      @include media($tiny) {
        display: none;
      }
    }

    &:first-child {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      padding-left: $small-spacing;
      padding-right: $small-spacing;
      text-transform: uppercase;
      background: $off-white;
      border-right: 1px solid $ghost-black;
      font-size: .625rem;
      margin-right:$small-spacing;
    }

    a {
      padding: 0;
    }


  }

  span:first-child {
    margin-right: 0;
  }

  .separator {
    color: rgba(#000, .5);
    position: relative;
    padding: $small-spacing 0 $small-spacing $small-spacing;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      left: 0;
      background: $off-white;
    }
    @include media($tiny) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: 2px solid $primary;
    }
    padding: 0 $small-spacing;
    padding-left: 0;
    @include media($tiny) {
      display: block;
    }
  }

  .last-item {
    color:  $dark-gray;
    @include media($tiny) {
      padding: $small-spacing;
    }
  }
}