.pagination {
  margin: $large-spacing 0 ($large-spacing * 2);
  text-align: center;
  position: relative;
  @include clearfix;

  &.no-margin {
    margin: 0;
  }

  a {
    @include link-underline;
  }

}

.page-numbers,
.site-content ul.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  li {
    display: inline-block;
    margin: 0;
  }

}

.pagination__prev,
.prev.page-numbers {
  position: absolute;
  left: 0;
  top: 0;
}

.pagination__next,
.next.page-numbers {
  position: absolute;
  right: 0;
  top: 0;
}

.pagination__button {
  font-weight: normal;
  width: auto;
  margin: auto;
  display: inline-block;
  background: $white;
  @include shadow(1);
  padding: $large-spacing/2 $large-spacing;
  @include link-underline-span;
  @include font-size(md);
  @include link-arrow-after;
}

.button.pagination__button.icon-load {

  &:before {
    font-family: 'Material Icons';
    content: '\E86A';
    font-size: inherit;
    color: inherit;
    position: relative;
    top: -0.1rem;
    left: -0.2rem;
  }
  &:after {
    display: none;
  }
}


// the_posts_pagination()
.pagination .navigation {
  margin: 0;
  background: transparent;
}