.site-content {
  background: $off-white;
  padding-top: $regular-spacing;
  padding-bottom: $large-spacing;
}

article.post, article.page {
  figure, img {
    &.alignright, &.right, &[align="right"] {
      float: right;
      margin: 0 0 $regular-spacing*1.5 $regular-spacing*1.5;
    }
    &.alignleft, &.left, &[align="left"] {
      float: left;
      margin: 0 $regular-spacing*1.5 $regular-spacing*1.5 0;
    }
  }
}