.main {
  background: $off-white;
  padding-top: $regular-spacing;
  padding-bottom: $large-spacing;
  width: 100%;
}

.site-content {
  @include span-columns(8);
}
.site-content:only-child {
  @include span-columns(12);
}