.site-content .widget__title {
  @include font-size(lg);
  padding: 0;
  margin: $small-spacing 0 $regular-spacing;
}

h1.page-title {
  @include font-size(xxxl);
}

section.site-content {
  position: relative;
  z-index: 1;
  > h1:first-child {
    margin-top: 0;
  }
}