// NAVIGATION

.primary-navigation {
  .horizontal-header & {
    @include span-columns(8);
    min-height: $navigation-height;
  }
}

.navigation {
  min-height: $navigation-height;

  .horizontal-header & {
    background-color: $white;
  }

  display: none;
  @include media($medium) {
    display: block;
  }
}

// NAVIGATION LIST
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;

  @include clearfix;

}

// NAVIGATION ITEM
.navigation__item {

  .horizontal-header & {
    float: left;
    position: relative;
    border-right: solid 2px $ghost-black;
    &:first-child {
      border-left: solid 2px $ghost-black;
    }
  }

  &.is-current, a:hover, a:focus, a:active {
    background-color: transparent;
    span {
      padding: 0 0 2px;
      border-bottom-color: $secondary;
    }
  }
  &.is-current,
  //&.current-page-ancestor,
  a:focus,
  a:active {
    outline: 2px solid $secondary;
  }

  a:hover, a:focus, a:active {
    text-decoration: none;
  }

  a, button {
    font-size: 1rem;
    color: $secondary;
    display: block;
    background: transparent;
    line-height: $navigation-height;
    padding: 0 $regular-spacing;
    text-decoration: none;
    span {
      border-bottom: solid 2px transparent;
    }
  }

  button {
    border: 0;
  }

  .sub-menu {
    display: none;
  }

}

// NAVIGATION SUB-LIST
.navigation__sublist {

  @include box;
  @include shadow(2);

  background: $white;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 30;
  top: $navigation-height;
  left: -9999px;
  opacity: 0;
  width: auto;
  min-width: 100%;
  border-radius: 0 0 5px 5px;
  overflow: visible;

  &.is-open {
    left: 0;
    opacity: 1;
  }



}

// NAVIGATION SUBITEM
.navigation__subitem {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.navigation__subitem:last-child a {
  border-bottom: 0;
}

.navigation__subitem a {

  border-bottom: 1px solid $light-gray;
  color: $secondary;
  padding: $regular-spacing $regular-spacing;
  line-height: 1.5;

  &:hover,
  &:focus {
    &:before {
    }
  }
  &.current {
    &:before {
    }
  }
}


.internal-navigation {
  @include media($tiny) {
    display: none;
  }
}

nav.subpages {
  // Only display pages in the currente page tree
  .list-group > li {
    display: none;

    &.current_page_ancestor,
    &.is-current {
      display: block;
    }

  }
  .page_item_has_children a {
        padding-right: 2.5rem;
  }
}

// Vertical menu
.vertical-header {

  .primary-navigation-wally-sub {
    margin-top: 2rem;
    .list-group__item {
      a {
        border: none;
      }
      span {
        font-size: $sub-sidebar-font-size;
      }
    }
  }

  .site-navigation {
    //background-color: $default-color !important;
    padding-bottom: 2rem;
    .container {
      padding: 0;
      margin: 0;
    }
  }

  .sidebar-navigation {
    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;

    }
  }

  .list-group__item{
    .is-open{
      //background-color: $default-dark-color;
    }
  }

  .list-group__sublist{
    a{
      //background: darken($default-dark-color, 2%) !important;
      &:hover {
        //background: $default-light-color;
      }
    }
  }

  .list-group__item {
    border-bottom: solid 1px rgba(0,0,0,0.1);

    *:focus{
      //background-color: $default-focus-color !important;
    }
    a {
      //background: $default-color;
      //border-bottom-color: $default-color;
      &:hover span{
        border: none !important;
      }
      span {
        //color: $white-font;
      }
      button {
        //color: $white-font;
        background-color: rgba(0,0,0,0.1);
        border-left: none !important;
      }
      &:hover {
        //background-color: $default-light-color;
        //border-bottom-color: $default-color !important;
      }
    }

    button {
      //border-left: solid 2px $sidebar-divider-color;
      &:before {
        //color: $white-font;
      }
      &:hover {
        //border-color: $default-light-color !important;
      }
    }
    &:first-child {
      border-top: solid 2px rgba(0,0,0,0.1);
    }

  }

  .list-group__item.is-current > a {

    &:hover, &:focus {
      //background-color: $default-light-color !important;
    }
    //background-color: $default-dark-color !important;
  }

  .list-group__subitem.is-current > a {
    &:hover {
      //background-color: $default-light-color !important;
    }
    //background-color: $default-dark-color !important;
  }

  nav.primary-navigation-wally-sub {
    .list-group__item:first-child {
      border-top: none !important;
    }
    .list-group__item span {
      font-size: 16px;
    }
  }
}