.article-box.post {

  figure {
    padding: 1rem;
    background: $off-white;
    figcaption {
      margin-bottom: -0.5rem;
    }
  }

  p span {
    color: $black !important;
  }

  img.alignright {
    float: right;
  }
}
