.sidebar-spacer-sticky-right {
   width: 31.76157% !important;
 }
.sidebar-spacer-sticky-left {
  margin-right: 2.35765% !important;
  width: 31.76157% !important;
}

.sidebar,
.sidebar__wrapper {
  position: relative;
  @include span-columns(12);
  @include media($medium) {
    @include span-columns(4);
  }
}
.sidebar__wrapper {
  @include outer-container;
}