body.appearance-border {
  background: #FFF;

  #site-content, .breadcrumbs-wrapper {
    background: #FFF;
    padding-top: 0;
  }
  .search__form, .search__input {
    background: rgba(0,0,0,0.1);
    color: #FFF;
  }
  .search__input:focus {
    outline: 0;
    background: rgba(0,0,0,0.2);
  }
  #site-navigation {
    background: rgba(0, 0, 0, 0.1);
    .primary-navigation > ul > .navigation__item {
      border-color: $secondary;
      > a > span, > button {
        color: #FFF;
        border-color: rgba(255,255,255, 0.1);
      }
      &.is-current {
        outline-color: #FFF;
        background: rgba(0,0,0,0.1);
      }
      &:hover span, &:focus span {
        border-color: #FFF;
      }
    }
    ::-webkit-input-placeholder {
      color: #FFF !important;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #FFF !important;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #FFF !important;
    }

    :-ms-input-placeholder {
      color: #FFF !important;
    }
  }

  .navigation__sublist {
    border: solid 2px rgba(0, 0, 0, 0.15);
  }


  .breadcrumbs-wrapper {
    border-bottom: solid 1px $ghost-black;
    ul.breadcrumbs {
      margin: 0;
      li {
        line-height: 2rem;
      }
      li:after {
        border-color: $ghost-black;
      }
    }
  }
  .article-box {
    border-bottom: solid 1px $ghost-black;
    &:last-child {
      border-bottom: none;
    }
  }
  .article-box, .widget {
    margin-bottom: $large-spacing;
    padding-bottom: $large-spacing;
  }

  .article-box__header--below-figure, .article-box__header, .article-box__content--excerpt, .article-box__content, .article-box__footer {
    padding-left: 0;
    padding-right: 0;
  }
  .article-box__footer, .article-box__footer .article-box__footer__col--meta {
    background: transparent;
    border: none;
  }

  .article-box__footer .article-box__footer__col--meta:first-child {
    padding-left: 0;
  }

  .image.thumbnail.thumbnail--small {
    background-color: $off-white;
    border: none;
  }
  #site-content .sidebar {
    .article-box, .widget {
      border-bottom: solid 1px $ghost-black;
      .widget__title {
        padding-left: 0;
      }
    }
    .article-box, .widget, .widget__title, .page-title, .subpages {
      padding-left: $large-spacing;
    }
    .recent__item, .widget ul.pills {
      border: none;
      padding: 0;
    }
    .list-group__item a {
      border: none;
    }
  }
  .main, .sidebar {
    padding-top: $regular-spacing;
  }

  #site-footer {
    border-top: solid 1px $ghost-black;
  }
  .site-footer__section__last-child:before {
    display: none;
  }

  section.main {
    border-right: solid 1px $ghost-black;
    margin-right: 0;
    .article-box {
      padding-right: $large-spacing;
    }
  }
  &.home {
    #site-content .sidebar .list-group__item a {
      border: none;
      padding: 0;
    }
  }
  &.single, &.page {

  }
}

body.appearance-column-boxes {
  .article-box {
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
  [class*=fw-] {
    margin-bottom: 0;
  }
  [class*=fw-col-] {
    padding: $regular-spacing;
  }
  [class*=fw-col-] .box-wrapper {
    @include box;
    margin: 0 $regular-spacing;
    padding: $regular-spacing;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @for $i from 1 through 12 {
    .fw-col-sm-#{$i} {
      width: percentage($i / 12);
      @include media($tiny) {
        width: 100%;

      }
    }
  }
  .video-wrapper {
    margin-left: -($regular-spacing);
    margin-right: -($regular-spacing);
    margin: -($regular-spacing);
  }

  .article-box__header {
    margin: $regular-spacing $small-spacing;
  }

  .image.thumbnail {
    margin-bottom: -2rem;
    @include box;
    margin: 0 $small-spacing;
    & + .fw-page-builder-content {
      padding-top: 4rem;
    }
  }

  figure.image,
  a.image {
    margin-left: -($regular-spacing);
    margin-right: -($regular-spacing);
    height: 0;
    padding-bottom: 75%;
    &--small,
    &--regular,
    &--large {
      margin-left: -($regular-spacing) !important;
      margin-right: -($regular-spacing) !important;
      margin-top: 0;
      margin-bottom: 0;
      max-width: none;
    }
    &--regular {
      padding-bottom: 50%;
    }
    &--small {
      padding-bottom: 40%;
    }
    + * {
      margin-top: $large-spacing;
    }
    &:first-child {
      margin-top: -($regular-spacing) !important;
      margin-bottom: -($regular-spacing) !important;
    }
  }
  * + figure.image {
    margin-bottom: $large-spacing;
  }
  a.image__link {
    height: auto;
    padding-bottom: 0;
  }

  &.page, &.single {
    .article-box {
      .article-box__header {
        padding: 0;
      }
      .article-box__content {
        padding: $regular-spacing/2;
      }
    }
  }
}