@import '../base/settings';
.theme-contrast {
  $primary: $black;
  $secondary: $black;
  $tertiary: $black;
  @import 'theme';

  .site-header {
    background: $white;
  }

  .site-navigation {
    border-top: 1px solid $ghost-black;
  }

  .site-header__tools a {
    color: $black;
    border-color: $black;
  }

}