@import '../base/settings';

.site-header .navigation {
  color: $white;
  a, button:not([type=submit]) {
    color: $white;
  }
  button[type="submit"] {
    color: $white;
  }
  .navigation__subitem a {
    color: $white;
  }
  a:hover {
    outline-color: $white;
  }
}

.site-navigation *:focus {
  outline-color: $white;
}

.navigation__item a:hover span {
  border-color: $white;
}

.navigation__item.is-current,
.navigation__item.current-page-ancestor,
.navigation__item a:focus,
.navigation__item a:active {
  outline-color: $white;
}

.navigation__item.is-current span,
.navigation__item a:focus span,
.navigation__item a:active span {
  border-color: white;
}